[submodule "Dependencies/Repositories/SDL"]
	path = Dependencies/Repositories/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.26.x
	shallow = true
[submodule "Dependencies/Repositories/glm"]
	path = Dependencies/Repositories/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "Dependencies/Repositories/bx"]
	path = Dependencies/Repositories/bx
	url = https://github.com/bkaradzic/bx.git
	shallow = true
[submodule "Dependencies/Repositories/bimg"]
	path = Dependencies/Repositories/bimg
	url = https://github.com/bkaradzic/bimg.git
	shallow = true
[submodule "Dependencies/Repositories/bgfx"]
	path = Dependencies/Repositories/bgfx
	url = https://github.com/bkaradzic/bgfx.git
	shallow = true
[submodule "Dependencies/Repositories/fmt"]
	path = Dependencies/Repositories/fmt
	url = https://github.com/fmtlib/fmt.git
	shallow = true
[submodule "Dependencies/Repositories/nlohmann/json"]
	path = Dependencies/Repositories/nlohmann/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "Dependencies/Repositories/imgui"]
	path = Dependencies/Repositories/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
[submodule "Dependencies/Repositories/stb"]
	path = Dependencies/Repositories/stb
	url = https://github.com/nothings/stb.git
	shallow = true
[submodule "Dependencies/Repositories/entt"]
	path = Dependencies/Repositories/entt
	url = https://github.com/skypjack/entt.git
	shallow = true
[submodule "Dependencies/Repositories/cryptopp"]
	path = Dependencies/Repositories/cryptopp
	url = https://github.com/weidai11/cryptopp.git
	shallow = true
