/Client/.vs
/Tools/.vs
/Dependencies/Installed/*
/Client/Windows/.vs
/Client/JSON
/Client/Game/ui_noesisgui_license.h
/Client/ARM
/Client/ARM64
/Client/x64
/Client/x86
/Client/Windows/NextMU/x64
/Client/Windows/NextMU/Debug
/Client/Windows/NextMU/Release
/Client/Windows/CryptoPP/x64
/Client/Windows/CryptoPP/Debug
/Client/Windows/CryptoPP/Release
/Client/Android/APK/.gradle
/Client/Android/APK/ARM
/Client/Android/APK/ARM64
/Client/Android/APK/x64
/Client/Android/APK/x86
/Client/Android/APK/NextMU-APK.androidproj.user
/Client/Android/APK/build.gradle
/Client/Android/APK/settings.gradle
/Client/Android/APK/app/build
/Client/Android/APK/app/build.gradle
/Client/Android/APK/app/src/main/jniLibs
/Client/Android/APK/app/src/main/AndroidManifest.xml
/Client/Android/NextMU/ARM
/Client/Android/NextMU/ARM64
/Client/Android/NextMU/x64
/Client/Android/NextMU/x86
/Client/Android/NextMU/NextMU.vcxproj.user
/Client/Android/SDL2/ARM
/Client/Android/SDL2/ARM64
/Client/Android/SDL2/x64
/Client/Android/SDL2/x86
/Client/Android/SDL2/SDL2.vcxproj.user
/Tools/ARM
/Tools/ARM64
/Tools/x64
/Tools/x86
/Tools/ConvertObjects/x64
/Tools/ConvertObjects/Debug
/Tools/ConvertObjects/Release
/.vs
/Client/Binary
/Client/Windows/NextMU/vcpkg_installed