[submodule "Dependencies/Repositories/SDL"]
	path = Dependencies/Repositories/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.26.x
	shallow = true
[submodule "Dependencies/Repositories/glm"]
	path = Dependencies/Repositories/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "Dependencies/Repositories/bx"]
	path = Dependencies/Repositories/bx
	url = https://github.com/bkaradzic/bx.git
	shallow = true
[submodule "Dependencies/Repositories/bimg"]
	path = Dependencies/Repositories/bimg
	url = https://github.com/bkaradzic/bimg.git
	shallow = true
[submodule "Dependencies/Repositories/bgfx"]
	path = Dependencies/Repositories/bgfx
	url = https://github.com/bkaradzic/bgfx.git
	shallow = true