[submodule "Dependencies/Repositories/SDL"]
	path = Dependencies/Repositories/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.26.x
	shallow = true
[submodule "Dependencies/Repositories/glm"]
	path = Dependencies/Repositories/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "Dependencies/Repositories/DiligentEngine"]
	path = Dependencies/Repositories/DiligentEngine
	url = https://github.com/DiligentGraphics/DiligentEngine.git
	shallow = true
