#ifndef __UI_NOESISGUI_LICENSE_H__
#define __UI_NOESISGUI_LICENSE_H__

#pragma once

/* Check https://www.noesisengine.com/docs/Gui.Core.SDKGuide.html to know how to configure this file  */
#define NS_LICENSE_NAME ""
#define NS_LICENSE_KEY ""

#endif